.terminal-style {
    font-size: 14px;
    background-color: #1c1d21;
    color: #00ff00;
    /* Green */
    font-family: "Courier New", Courier, monospace;
    /* Terminal-style font */
    padding: 10px;
    border-radius: 5px;
}